## Day 20 作業：將 missing 值替代為其他值

由於現實世界中的資料可能有缺漏，因此資料中就會有 missing 值存在，而在資料科學及機器學習中，缺漏值的處理關係到分析或預測的結果。

在今天的作業中，請將資料集中的年齡缺漏值，依性別分別替換為資料集中男性或女性的年齡平均值。

本次作業使用的資料集：Kaggle Titanic: Machine Learning from Disaster 的 train 資料集

競賽主頁：[https://www.kaggle.com/c/titanic/overview](https://www.kaggle.com/c/titanic/overview)

請自行下載資料集 **train.csv**：[https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

In [1]:
using DataFrames, CSV

In [2]:
df = CSV.read("Day_020_train.csv")

891×12 DataFrame. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

In [3]:
size(df)

(891, 12)

呼叫 `describe()` 函式時，加上 `:nmissing` 參數，顯示各 column 的 missing 值數目。

可以看到 Age 共有 177 個缺漏值。

In [4]:
describe(df, :nmissing)

12×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │

計算男性及女性的平均年齡。

【提示】使用 `skipmissing()` 去掉缺漏值後，再計算平均值。

In [5]:
using Statistics

In [6]:
male_age_avg = mean(skipmissing(df[df.Sex .=="male", :Age])) # 請輸入程式碼

30.72664459161148

In [7]:
female_age_avg = mean(skipmissing(df[df.Sex .=="female", :Age])) # 請輸入程式碼

27.915708812260537

將 Age column 中的 missing 值，依性別替換為上面計算出來的平均年齡值。

【提示】可產生新的 column 來存放新的結果，而不取代掉原先的 Age column。

In [8]:
# 請輸入程式碼

In [9]:
# 提交後訂正
df.new_Age = map(eachrow(df)) do r
    if (r.Sex == "male") & (ismissing(r.Age)) 
        Age = male_age_avg
    elseif (r.Sex == "female") & (ismissing(r.Age))
        Age = female_age_avg
    else
        Age = r.Age
    end
end

891-element Array{Float64,1}:
 22.0
 38.0
 26.0
 35.0
 35.0
 30.72664459161148
 54.0
  2.0
 27.0
 14.0
  4.0
 58.0
 20.0
  ⋮
 56.0
 25.0
 33.0
 22.0
 28.0
 25.0
 39.0
 27.0
 19.0
 27.915708812260537
 26.0
 32.0

In [10]:
describe(df, :nmissing)

13×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │
│ 13  │ new_Age     │          │

In [11]:
male_new_age_avg = mean(df[df.Sex .=="male", :new_Age])

30.726644591611475

In [12]:
female_new_age_avg = mean(df[df.Sex .=="female", :new_Age])

27.91570881226054

In [13]:
mdf=hcat(df[df.Sex .=="male", [:PassengerId]], coalesce.(df[df.Sex .=="male", [:Age]], male_age_avg))

577×2 DataFrame
│ Row │ PassengerId │ Age     │
│     │ Int64       │ Float64 │
├─────┼─────────────┼─────────┤
│ 1   │ 1           │ 22.0    │
│ 2   │ 5           │ 35.0    │
│ 3   │ 6           │ 30.7266 │
│ 4   │ 7           │ 54.0    │
│ 5   │ 8           │ 2.0     │
│ 6   │ 13          │ 20.0    │
│ 7   │ 14          │ 39.0    │
│ 8   │ 17          │ 2.0     │
│ 9   │ 18          │ 30.7266 │
│ 10  │ 21          │ 35.0    │
⋮
│ 567 │ 873         │ 33.0    │
│ 568 │ 874         │ 47.0    │
│ 569 │ 877         │ 20.0    │
│ 570 │ 878         │ 19.0    │
│ 571 │ 879         │ 30.7266 │
│ 572 │ 882         │ 33.0    │
│ 573 │ 884         │ 28.0    │
│ 574 │ 885         │ 25.0    │
│ 575 │ 887         │ 27.0    │
│ 576 │ 890         │ 26.0    │
│ 577 │ 891         │ 32.0    │

In [14]:
fdf=hcat(df[df.Sex .=="female", [:PassengerId]], coalesce.(df[df.Sex .=="female", [:Age]], female_age_avg))

314×2 DataFrame
│ Row │ PassengerId │ Age     │
│     │ Int64       │ Float64 │
├─────┼─────────────┼─────────┤
│ 1   │ 2           │ 38.0    │
│ 2   │ 3           │ 26.0    │
│ 3   │ 4           │ 35.0    │
│ 4   │ 9           │ 27.0    │
│ 5   │ 10          │ 14.0    │
│ 6   │ 11          │ 4.0     │
│ 7   │ 12          │ 58.0    │
│ 8   │ 15          │ 14.0    │
│ 9   │ 16          │ 55.0    │
│ 10  │ 19          │ 31.0    │
⋮
│ 304 │ 866         │ 42.0    │
│ 305 │ 867         │ 27.0    │
│ 306 │ 872         │ 47.0    │
│ 307 │ 875         │ 28.0    │
│ 308 │ 876         │ 15.0    │
│ 309 │ 880         │ 56.0    │
│ 310 │ 881         │ 25.0    │
│ 311 │ 883         │ 22.0    │
│ 312 │ 886         │ 39.0    │
│ 313 │ 888         │ 19.0    │
│ 314 │ 889         │ 27.9157 │

In [15]:
vdf=vcat(mdf, fdf)

891×2 DataFrame
│ Row │ PassengerId │ Age     │
│     │ Int64       │ Float64 │
├─────┼─────────────┼─────────┤
│ 1   │ 1           │ 22.0    │
│ 2   │ 5           │ 35.0    │
│ 3   │ 6           │ 30.7266 │
│ 4   │ 7           │ 54.0    │
│ 5   │ 8           │ 2.0     │
│ 6   │ 13          │ 20.0    │
│ 7   │ 14          │ 39.0    │
│ 8   │ 17          │ 2.0     │
│ 9   │ 18          │ 30.7266 │
│ 10  │ 21          │ 35.0    │
⋮
│ 881 │ 866         │ 42.0    │
│ 882 │ 867         │ 27.0    │
│ 883 │ 872         │ 47.0    │
│ 884 │ 875         │ 28.0    │
│ 885 │ 876         │ 15.0    │
│ 886 │ 880         │ 56.0    │
│ 887 │ 881         │ 25.0    │
│ 888 │ 883         │ 22.0    │
│ 889 │ 886         │ 39.0    │
│ 890 │ 888         │ 19.0    │
│ 891 │ 889         │ 27.9157 │

In [16]:
rename!(vdf, :Age => :my_new_Age)

891×2 DataFrame
│ Row │ PassengerId │ my_new_Age │
│     │ Int64       │ Float64    │
├─────┼─────────────┼────────────┤
│ 1   │ 1           │ 22.0       │
│ 2   │ 5           │ 35.0       │
│ 3   │ 6           │ 30.7266    │
│ 4   │ 7           │ 54.0       │
│ 5   │ 8           │ 2.0        │
│ 6   │ 13          │ 20.0       │
│ 7   │ 14          │ 39.0       │
│ 8   │ 17          │ 2.0        │
│ 9   │ 18          │ 30.7266    │
│ 10  │ 21          │ 35.0       │
⋮
│ 881 │ 866         │ 42.0       │
│ 882 │ 867         │ 27.0       │
│ 883 │ 872         │ 47.0       │
│ 884 │ 875         │ 28.0       │
│ 885 │ 876         │ 15.0       │
│ 886 │ 880         │ 56.0       │
│ 887 │ 881         │ 25.0       │
│ 888 │ 883         │ 22.0       │
│ 889 │ 886         │ 39.0       │
│ 890 │ 888         │ 19.0       │
│ 891 │ 889         │ 27.9157    │

In [17]:
xdf=join(df, vdf, on = :PassengerId)

891×14 DataFrame. Omitted printing of 11 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

In [18]:
describe(xdf, :nmissing)

14×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │
│ 13  │ new_Age     │          │
│ 14  │ my_new_Age  │          │

In [19]:
male_my_new_age_avg = mean(xdf[xdf.Sex .=="male", :my_new_Age])

30.726644591611475

In [20]:
female_my_new_age_avg = mean(xdf[xdf.Sex .=="female", :my_new_Age])

27.91570881226054